
    {% extends '../index.html' %}  
    {% block content %}
   
<body>
    
    <div class="row">
        <div class="col-md-12">
            <h1 class="float-start">Medicamentos</h1>
            <a href="{% url 'alta_medicamento' %}" class="btn btn-danger float-end">Agregar Medicamento</a>
        </div>
        {% for x in medicamento %}
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <span class="text-primary float-end">$ {{ x.precio }}</span>
                        <h5>{{ x.name }}</h5>
                        <p>{{ x.descripcion }}</p>
                        <h4>LOTE:Caducidad</h4>
                        <h5>{{ x.LOTE }}:{{ x.expira }}</h5>
                        <a href="{% url 'medicamento_detail' x.id %}" class="btn btn-primary">Ver más</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    
    {% endblock %}