<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <div class="container">
    <h2>Detalles del Medicamento</h2>
    <div class="card">
        <p>Nombre: {{ medicamento.name }}</p>
        <p>Descripción: {{ medicamento.description }}</p>
    </div>
  <body>
    {% for test in testss %}
    <div class="card">        
    <span class="text-primary float-end">${{ test.name }}.00</span>
    <h5>{{ test.name }}</h5>
    <p>{{ test.id }}</p>
    <a href="" class="btn btn-primary">Ver más</a>
    
    </div>
    {% endfor %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>