<!doctype html>

<html lang="en">

<head>
  {% extends './index.html' %}
  {% block content %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<div class="container">
  <h2>Detalles del Medicamento</h2>

  <body>
    <div class="card">
      <span class="text-primary float-end"></span>
      <div class="card">
        <p>Nombre: {{ medicamento.name }}</p>
        <p>Descripción: {{ medicamento.descripcion }}</p>
        <p>Precio: $ {{ medicamento.precio }}</p>
        <p>Existencia: {{ medicamento.units }} Unidades</p>
        <p>Lote: {{ medicamento.LOTE }}</p>
        <p>Caducidad: {{ medicamento.expira }}</p>

      </div>

      <div align="center">
        <!-- Botones de navegar -->
        {% if anterior_medicamento %}
        <a href="{% url 'medicamento_detail' pk=anterior_medicamento.pk %}" class="btn btn-outline-primary">Anterior</a>
        {% endif %}
        <a href="" class="btn btn-info">Actualizar</a>
        <a href="{% url 'medicamento_editar' pk=medicamento.pk %}" class="btn btn-warning" id="btn-editar">Editar</a>
        <a href="#" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmarEliminacion">Eliminar</a>

<!-- Modal de confirmación de eliminación -->
<div class="modal fade" id="confirmarEliminacion" tabindex="-1" aria-labelledby="confirmarEliminacionLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmarEliminacionLabel">Confirmar Eliminación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Estás seguro de que deseas eliminar este medicamento?
            </div>
            <div class="modal-footer">
                <!-- Agrega el enlace para eliminar el medicamento -->
                <a href="{% url 'medicamento_eliminar' pk=medicamento.pk %}" class="btn btn-danger">Eliminar</a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>{% if siguiente_medicamento %}
        <a href="{% url 'medicamento_detail' pk=siguiente_medicamento.pk %}"
          class="btn btn-outline-primary">Siguiente</a>
        {% endif %}
      </div>

      <a href="{% url 'medicamento' %}" class="btn btn-primary">Volver</a>
    </div>

    {% endblock %}

  </body>

</html>