<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <!--Cargar Archivos CSS y JS de forma statica-->
    {% load static %}
    <link rel="stylesheet" href="{%static 'BDMedico/css/dashboardStye.css' %}">
</head>
<body>
    <div id="sidebar">
        <div class="logo"></div>
        <ul class="menu">
            <li>
                <a href="{% url 'index' %}">Dashboard</a>
            </li>
            <li>
                <a href="#">Gráficos</a>
            </li>
            <li>
                <a href="{% url 'informes' %}">Informes</a>
            </li>
            <li>
                <a href="./admin/">Configuración</a>
            </li>
            <li>
                <a href="{% url 'staff' %}">Staff</a>
            </li>
            <li>
                <a href="{%url 'medicamento' %}">Medicamentos</a>
            </li>
        </ul>
    </div>

    <div id = "content", name = "content", class = "main">
        {% block content %}
        {% endblock %}
    </div>
    
    <!--script src="{% static 'BDMedico/childPage.js' %}"></script-->
   
  

</body>
</html>