<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    all users are shown here
    {% for test in staff %}
    <div class="card" style="width: 18rem;">
       <br>
    <span class="text-primary float-end">{{ test.id }}</span>
    <h5>{{ test.name }}</h5>
    <p>{{ test.descripcion }}</p>
    <a href="" class="btn btn-primary">Ver más</a>
   <br>
    </div>
    {% endfor %}
      
</body>
</html>
