<!-- alta_empleados.html -->
<!DOCTYPE html>
<html>

<head>
    {% extends '../index.html' %}
    {% block content %}
    <title>Alta de empleados</title>
    {% load static %}
    <link rel="stylesheet" href="{%static 'BDMedico/css/formStyle.css' %}">
</head>

<body>

    <!--Englobar Form en un recuadro para alinear-->
    <h2>Registrar nuevo empleado</h2>
    <form method="post" action="{% url 'alta_empleado' %}">
        {% csrf_token %}
        <div id="campo">
            <label for="{{ form.username.id_for_label }}">Nombre de usuario:</label>
            {{ form.username }}
        </div>
        <br>
        <div id="campo">
            <label for="{{ form.password.id_for_label }}">Contraseña:</label>
            {{ form.password }}
        </div>
        <br>
        <div id="campo">
            <label for="{{ form.name.id_for_label }}">Nombre:</label>
            {{ form.name }}
        </div>
        <br>
        <div id="campo">
            <label for="{{ form.surname.id_for_label }}">Apellidos:</label>
            {{ form.surname }}
        </div>
        <br>
        <div id="campo">
            <label for="{{ form.birthdate.id_for_label }}">Fecha de Naciemiento:</label>
            {{ form.birthdate }}
        </div>
        <br>
        <div id="campo">
            <label for="{{ form.sex.id_for_label }}">Sexo:</label>
            {{ form.sex }}
        </div>
        <br>
        <div id="campo">
            <label for="{{ form.address.id_for_label }}">Dirección:</label>
            {{ form.address }}
        </div>
        <br>
        <div id="campo">
            <label for="{{ form.phone.id_for_label }}">Teléfono:</label>
            {{ form.phone }}
        </div>
        <br>
        <div id="campo">
            <label for="{{ form.description.id_for_label }}">Descripción:</label>
            {{ form.description }}
        </div>
        <br>
        <div id="campo">
            <label for="{{ form.puesto.id_for_label }}">Puesto:</label>
            {{ form.puesto }}
        </div>
        <br>
        <div id="campo">
            <label for="{{ form.salary.id_for_label }}">Salario:</label>
            {{ form.salary }}
        </div>
        <br>
        <div id="campo">
            <label for="{{ form.cedula.id_for_label }}">Cédula:</label>
            {{ form.cedula }}
        </div>
        <br>
        <br>
        <div>
            <button class="btn btn-primary" type="submit">Guardar</button>
        </div>
    </form>
    {% endblock %}
</body>

</html>