body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  #sidebar {
    position: fixed;
    width: 250px;
    height: 100%;
    background: #333;
    color: #fff;
    transition: all 0.3s;
  }
  
  #sidebar.active {
    width: 70px;
  }
  
  #sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  #sidebar ul li {
    padding: 25px;
    text-align: center;
  }
  
  #sidebar ul li a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: 0.3s;
    padding-bottom: 10px;
    padding-top: 100 px;
    width: 100%;
    height: 100%;
  }
  
  #sidebar ul li a:hover {
    background-color: #555;
  }
  
  #sidebar ul li a:hover, #sidebar ul li a:active {
    cursor: pointer;
  }
  
  #content {
    margin-left: 250px;
    padding: 20px;
  }
  
  #content.active {
    margin-left: 70px;
  }
  